.searchBox{
  display: flex;
  position: absolute;
  transform:  translate(-50%,50%);
  /* background: #3b623c; */
  background: #afeeb5;
  height: 35px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 200px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  /* background: white; */
  background-color: rgb(7, 51, 13);
  color : #afeeb5;
  /* color : #2f3640; */

}

.searchButton {
  color: white;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

.search{
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }


  @media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
    }