body{
   background-image: url("assets/fondo.jpg");
   /* background-repeat: repeat-y; */
   background-attachment: fixed;
   background-size: cover;
}

.cards{
   justify-content: space-between;
}

/*  */