.list{
    /* background-color: rgb(7, 51, 13); */
    background-image: url('../../assets/fondo.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
	padding: 0;
	list-style: none;
    display: flex;
	width: 100%;
	margin: auto;
	max-width: 100%;
    justify-content: space-between;
	text-align: center;
    gap: 100px;
}
.li {
    text-decoration: none;
	padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
	min-width: 80px;
	margin: auto;
}
.li:link{
    text-decoration: none;
}

.li:hover {
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #afeeb5;
      font-weight: bold;
  }
.li:active {
    transform: translateY(4px);
  }

  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  
  
.img{
    height: 70px;
  width: 150px;
  object-fit: contain;
}


.links{
    text-decoration: none;
    text-decoration-line: none;
    color: #afeeb5;
}
